In [1]:
import pandas as pd 
import re 
from geolib import geohash
from haversine import haversine, Unit
from math import radians, cos, sin, asin, sqrt
import numpy as np

In [2]:
df = pd.read_csv('2_jak_rest_detail.csv')
df = df.reset_index()
df.shape

(7305, 9)

In [3]:
df.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257

In [3]:
def clean_long_lat(str_input):
    try :
        result = str_input.split('=')[-1] 
        result = result.replace(']','')
        result = result.replace('[','')   
        result = result.replace("'","")   
        return result 
    except : 
        return 'error'

def extract_lat(str_input):
    try : 
        return float(str_input.split(',')[0])
    except:
        return 0 


def extract_long(str_input):
    try : 
        return float(str_input.split(',')[1])
    except:
        return 0 

def geohash_neighbors(str_geohash):
    return 

def calculate_distance(lat1, lon1, lat2, lon2 ):
    # haversine formula 


    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c * 1000 # in meter 
    return km

def extract_price(price):
    try : 
        return ''.join(re.findall(r'\d+',price))
    except : 
        return 'error'
    
def normalize_rating(rating):
    try:
        return float(rating)
    except :
        return 'error'

def normalize_review(rating):
    try:
        return int(rating)
    except :
        return 'error'

# Extract Long and Lat 
extract lat and long from url 
adding geohash

In [91]:
# separate lat long from url 
df['rest_longlat2'] = df['rest_longlat'].apply(clean_long_lat)

df['lat'] = df['rest_longlat2'].apply(extract_lat)
df['long'] = df['rest_longlat2'].apply(extract_long)

# remove non longlat 
df2 = df[df['rest_longlat']!='[]']

print(df2.shape)

(7290, 12)

In [92]:
# df[df['rest_longlat2']=='error']
df2.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review,rest_longlat2,lat,long
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56,"-6.1675310000,106.9017520000",-6.167531,106.901752
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61,"-6.1573410000,106.9078880000",-6.157341,106.907888
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363,"-6.1526380000,106.8925760000",-6.152638,106.892576
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113,"-6.1635880000,106.9036890000",-6.163588,106.903689
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257,"-6.1572550000,106.9084300000",-6.157255,106.908430

In [93]:
df2['url'].value_counts()

https://www.zomato.com/jakarta/visi-coffee-kitchen-manggarai/info            2
https://www.zomato.com/jakarta/union-deli-thamrin/info                       2
https://www.zomato.com/SignaturesRestaurant/info                             2
https://www.zomato.com/jakarta/shoot-me-in-the-head-2-0-pondok-indah/info    2
https://www.zomato.com/jakarta/djakarta-cafe-thamrin/info                    2
                                                                            ..
https://www.zomato.com/jakarta/kfc-fatmawati/info                            1
https://www.zomato.com/jakarta/mie-kocok-bandung-cipete-fatmawati/info       1
https://www.zomato.com/jakarta/zenbu-pantai-indah-kapuk/info                 1
https://www.zomato.com/jakarta/cecemuwe-caf%C3%A9-and-space-blok-m/info      1
https://www.zomato.com/jakarta/jivin-tea-tebet/info                          1
Name: url, Length: 7262, dtype: int64

In [94]:
df2.iloc[0]['rating']

'3.8'

# Get Price

In [95]:
df2['rest_price_idr'] =  df2['rest_price'].apply(lambda x:extract_price(x))
print(df2.shape)

(7290, 13)

<ipython-input-95-3070501cd80e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['rest_price_idr'] =  df2['rest_price'].apply(lambda x:extract_price(x))

# Get Rating

In [96]:
df2['rating'] = df2['rating'].apply(normalize_rating)
print(df2.shape)

(7290, 13)

<ipython-input-96-a3e14dfe0c3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['rating'] = df2['rating'].apply(normalize_rating)

In [97]:
df2['review'] = df2['review'].apply(normalize_review)
print(df2.shape)

(7290, 13)

<ipython-input-97-b1f094da395e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['review'] = df2['review'].apply(normalize_review)

# Tag franchise restaurant

In [98]:
df2_res_chain = df2['title'].value_counts().reset_index()
df2_res_chain.columns = ['title','count']

df2_res_chain = df2_res_chain[df2_res_chain['count'] > 2]
df2_res_chain['is_chain'] = 1 

df2 = pd.merge(df2,df2_res_chain,left_on='title',right_on='title',how='left')
df2.drop('count', axis= 1 ,inplace = True)

df2['is_chain'] = df2['is_chain'].fillna(0)

df2['is_chain'] = df2['is_chain'].astype(int)

print(df2.shape)

(7290, 14)

In [99]:
df2.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review,rest_longlat2,lat,long,rest_price_idr,is_chain
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56,"-6.1675310000,106.9017520000",-6.167531,106.901752,150000,0
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3.0,61,"-6.1573410000,106.9078880000",-6.157341,106.907888,110000,1
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363,"-6.1526380000,106.8925760000",-6.152638,106.892576,450000,0
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113,"-6.1635880000,106.9036890000",-6.163588,106.903689,100000,0
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257,"-6.1572550000,106.9084300000",-6.157255,106.908430,220000,1

In [100]:
df2['is_chain'].sum()

2191

# Preprocessing restaurant features
facility and restaurant type

In [101]:
# df2['rest_facility'].apply(lambda x:x.split('|'))
tes_facility = df2['rest_facility'].apply(lambda x:x.split('|')).explode()
tes_rest_type = df2['rest_type'].apply(lambda x:x.split('|')).explode()

print('total unique facility {}'.format(tes_facility.value_counts().shape))
print('total unique restaurant type {}'.format(tes_rest_type.value_counts().shape))

total unique facility (54,)
total unique restaurant type (86,)

In [107]:
def cat_encoding(df ,idx_col, cat_col):
    df_cat = df[[idx_col,cat_col]]
    df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)
    df_cat = df_cat.explode(cat_col)
    df_cat.columns = [idx_col,'category']
    df_cat['category'] = df_cat['category'].str.lower()
    df_cat['flag'] = 1
    df_cat = df_cat.pivot_table(index=idx_col, columns='category', values='flag').reset_index().fillna(0)
    cat_col = df_cat.columns[1:]
    df_cat[cat_col] = df_cat[cat_col].astype('int')
    df_cat[cat_col] = df_cat[cat_col].astype(str)
    df_cat['encode'] = df_cat[cat_col].apply(''.join, axis=1)

    return df_cat 

def cat_explode(df ,idx_col, cat_col):
    df_cat = df[[idx_col,cat_col]]
    df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)
    df_cat = df_cat.explode(cat_col)
    return df_cat 


def cat_manual_w_encode(df ,idx_col, cat_col, manual_df, cat_col_manual, new_cat):
    df_cat = cat_explode(df ,idx_col, cat_col)

    df_cat[cat_col] = df_cat[cat_col].str.lower()
    # df_cat_agg = df_cat[cat_col].value_counts().reset_index()
    # df_cat_agg.columns = [cat_col,'counts']

    df_merge = pd.merge(df_cat,manual_df,how='left', left_on=cat_col, right_on = cat_col_manual)
    # df_merge = df_merge.drop('count',axis=1)
    df_merge['values'] = 1

    df_merge['values'] = df_merge['values'].astype(int)
    # pivot 
    df_merge = df_merge.pivot_table(index=idx_col, columns=new_cat, values='values',).reset_index().fillna(0)
    
    return df_merge

## Retagging restaurant facility and type

In [115]:
df_res_fac_tag = pd.read_csv('2_rest_fact_count.csv')
df_res_fac_tag2 = cat_manual_w_encode(df2,'index','rest_facility',df_res_fac_tag.drop('counts',axis=1),'facility','new_facility')

df_res_type_tag = pd.read_csv('2_rest_type_count.csv')
df_res_type_tag2 = cat_manual_w_encode(df2,'index','rest_type',df_res_type_tag.drop('counts',axis=1),'rest_type','rest_type_new')

print('size facility : {}'.format(df_res_fac_tag2.shape))
print('restaurant type : {}'.format(df_res_type_tag2.shape))

size facility : (7290, 19)
restaurant type : (7290, 22)

<ipython-input-107-d973aa5ca8a8>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)
<ipython-input-107-d973aa5ca8a8>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)

In [134]:
# tmp = pd.merge(df2, df_res_type_tag2, left_on='index', right_on='index', how='left')

In [117]:
# idx_col = 'index'
# cat_col = 'rest_facility'
# df_cat =  df2[['index','rest_facility']]
# df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)
# df_cat = df_cat.explode(cat_col)
# # df_cat.columns = [idx_col,'category']
# # df_cat['category'] = df_cat['category'].str.lower()
# # df_cat['flag'] = 1
# # df_cat = df_cat.pivot_table(index=idx_col, columns='category', values='flag').reset_index().fillna(0)

In [118]:
# export manual tagging to csv 

# df_res_fac_exp = cat_explode(df2, 'index','rest_facility')
# df_res_fac_exp = df_res_fac_exp['rest_facility'].value_counts().reset_index()
# df_res_fac_exp.columns = ['facility','counts']
# df_res_fac_exp['facility'] = df_res_fac_exp['facility'].str.lower()

# df_res_fac_exp.to_csv('2_rest_fact_count.csv',index=False)

# df_res_type_exp = cat_explode(df2, 'index','rest_type')
# df_res_type_exp = df_res_type_exp['rest_type'].value_counts().reset_index()
# df_res_type_exp.columns = ['rest_type','counts']
# df_res_type_exp['rest_type'] = df_res_type_exp['rest_type'].str.lower()

# df_res_type_exp.to_csv('2_rest_type_count.csv',index=False)

In [119]:
# facility 
df_res_fac = cat_encoding(df2, 'index','rest_facility')
df_res_fac_code = df_res_fac['encode'].value_counts().reset_index()
df_res_fac_code.columns = ['encode','total']
df_res_fac_code['rank'] = np.arange(df_res_fac_code.shape[0])
df_res_fac_code['new_code'] = pd.cut(df_res_fac_code['total'], 5,labels=list(range(5)), ordered=True)
df_res_fac_encode = pd.merge(df_res_fac[['index','encode']],df_res_fac_code[['encode','new_code','rank']])

df_res_fac_encode.to_csv('2_res_fac.csv',index=False)

# type  
df_res_type = cat_encoding(df2, 'index','rest_type')
df_res_type_code = df_res_type['encode'].value_counts().reset_index()
df_res_type_code.columns = ['encode','total']
df_res_type_code['rank'] = np.arange(df_res_type_code.shape[0])
df_res_type_code['new_code'] = pd.cut(df_res_type_code['total'], 5,labels=list(range(5)), ordered=True)
df_res_type_encode = pd.merge(df_res_type[['index','encode']],df_res_type_code[['encode','new_code','rank']])

df_res_type_encode.to_csv('2_res_type.csv',index=False)

<ipython-input-107-d973aa5ca8a8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)
<ipython-input-107-d973aa5ca8a8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat[cat_col] = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1)

In [120]:
df_res_fac_encode.head()

   index                                             encode new_code  rank
0      0  0000000000000000000000100000000100000000000000...        4     0
1      9  0000000000000000000000100000000100000000000000...        4     0
2     22  0000000000000000000000100000000100000000000000...        4     0
3     23  0000000000000000000000100000000100000000000000...        4     0
4     54  0000000000000000000000100000000100000000000000...        4     0

# Finishing

In [121]:
df2.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review,rest_longlat2,lat,long,rest_price_idr,is_chain
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56,"-6.1675310000,106.9017520000",-6.167531,106.901752,150000,0
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3.0,61,"-6.1573410000,106.9078880000",-6.157341,106.907888,110000,1
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363,"-6.1526380000,106.8925760000",-6.152638,106.892576,450000,0
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113,"-6.1635880000,106.9036890000",-6.163588,106.903689,100000,0
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257,"-6.1572550000,106.9084300000",-6.157255,106.908430,220000,1

In [137]:
df_res_fac_tag2.head()

new_facility,index,alcohol,delivery,entertainment,indoor seating,kid friendly,no alcohol available,others,outdoor seating,parking service,praying room,private dining area available,self service,smoking area,special_meal,table booking,table booking not available,table reservation required,takeaway available
0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,2,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [138]:
df2_final = pd.DataFrame()
df2_final['index'] = df2['index']
df2_final['url'] = df2['url']
df2_final['rest_price_idr'] = df2['rest_price_idr']
df2_final['review'] = df2['review']
df2_final['lat'] = df2['lat']
df2_final['long'] = df2['long']
df2_final['is_chain'] = df2['is_chain']
df2_final['rating'] = df2['rating']

# join with restaurant types and facilities 
# encode version 
# df2_final = pd.merge(df2_final,df_res_type_encode[['index','new_code','rank']], left_on='index', right_on='index', how='left')
# df2_final = df2_final.rename(columns = {'new_code':'new_code_res_type','rank':'rank_res_type'})

# df2_final = pd.merge(df2_final,df_res_fac_encode[['index','new_code','rank']],left_on='index', right_on='index',how='left')
# df2_final = df2_final.rename(columns = {'new_code':'new_code_fac','rank':'rank_fac'})


# join with restaurant types and facilities
# original version  
df2_final = pd.merge(df2_final,df_res_fac_tag2, left_on='index', right_on='index', how='left')
df2_final = df2_final.rename(columns = {'new_code':'new_code_res_type','rank':'rank_res_type'})

df2_final = pd.merge(df2_final,df_res_type_tag2,left_on='index', right_on='index',how='left')
df2_final = df2_final.rename(columns = {'new_code':'new_code_fac','rank':'rank_fac'})


# # remove error values 

df2_final = df2_final[(df2_final['rest_price_idr'] != 'error') ] 
df2_final = df2_final[(df2_final['rating']!= 'error') ] 
df2_final = df2_final[(df2_final['review']!= 'error') ]

# # # casting to correct values 
df2_final['rest_price_idr'] = df2_final['rest_price_idr'].astype(float)
# # # df2_final['review'] = df2_final['review'].str.replace(',','')
df2_final['review'] = df2_final['review'].astype(float)
df2_final['rating'] = df2_final['rating'].astype(float)

In [139]:
df2.shape, df2_final.shape

((7290, 14), (5803, 47))

In [140]:
df2_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5803 entries, 0 to 7289
Data columns (total 47 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          5803 non-null   int64
 1   url                            5803 non-null   object
 2   rest_price_idr                 5803 non-null   float64
 3   review                         5803 non-null   float64
 4   lat                            5803 non-null   float64
 5   long                           5803 non-null   float64
 6   is_chain                       5803 non-null   int32
 7   rating                         5803 non-null   float64
 8   alcohol                        5803 non-null   float64
 9   delivery                       5803 non-null   float64
 10  entertainment                  5803 non-null   float64
 11  indoor seating                 5803 non-null   float64
 12  kid friendly                   5803 non-null   float64
 13  no alcohol available           5803 non-null   float64
 14  others_x                       5803 non-null   float64
 15  outdoor seating                5803 non-null   float64
 16  parking service                5803 non-null   float64
 17  praying room                   5803 non-null   float64
 18  private dining area available  5803 non-null   float64
 19  self service                   5803 non-null   float64
 20  smoking area                   5803 non-null   float64
 21  special_meal                   5803 non-null   float64
 22  table booking                  5803 non-null   float64
 23  table booking not available    5803 non-null   float64
 24  table reservation required     5803 non-null   float64
 25  takeaway available             5803 non-null   float64
 26  asian                          5803 non-null   float64
 27  bakery                         5803 non-null   float64
 28  beverages                      5803 non-null   float64
 29  cafe                           5803 non-null   float64
 30  coffee                         5803 non-null   float64
 31  desserts                       5803 non-null   float64
 32  drink                          5803 non-null   float64
 33  fast_food                      5803 non-null   float64
 34  india                          5803 non-null   float64
 35  indonesia_traditional          5803 non-null   float64
 36  indonesian                     5803 non-null   float64
 37  melayu                         5803 non-null   float64
 38  mid_east                       5803 non-null   float64
 39  noodle                         5803 non-null   float64
 40  others_y                       5803 non-null   float64
 41  seafood                        5803 non-null   float64
 42  snacks                         5803 non-null   float64
 43  special_food                   5803 non-null   float64
 44  street_food                    5803 non-null   float64
 45  tea                            5803 non-null   float64
 46  western                        5803 non-null   float64
dtypes: float64(44), int32(1), int64(1), object(1)
memory usage: 2.1+ MB

In [144]:
df2_final.isnull().sum()
# df2.isnull().sum()

index                            0
url                              0
rest_price_idr                   0
review                           0
lat                              0
long                             0
is_chain                         0
rating                           0
alcohol                          0
delivery                         0
entertainment                    0
indoor seating                   0
kid friendly                     0
no alcohol available             0
others_x                         0
outdoor seating                  0
parking service                  0
praying room                     0
private dining area available    0
self service                     0
smoking area                     0
special_meal                     0
table booking                    0
table booking not available      0
table reservation required       0
takeaway available               0
asian                            0
bakery                           0
beverages                        0
cafe                             0
coffee                           0
desserts                         0
drink                            0
fast_food                        0
india                            0
indonesia_traditional            0
indonesian                       0
melayu                           0
mid_east                         0
noodle                           0
others_y                         0
seafood                          0
snacks                           0
special_food                     0
street_food                      0
tea                              0
western                          0
dtype: int64

In [126]:
df2_final[df2_final['rank_fac'].isnull()]

Empty DataFrame
Columns: [index, url, rest_price_idr, review, lat, long, is_chain, rating, new_code_res_type, rank_res_type, new_code_fac, rank_fac]
Index: []

In [142]:
# encode 
# df2_final.to_csv('3_clean_zomato_feat.csv',index=False)

# original 
df2_final.to_csv('3_clean_zomato_feat2.csv',index=False)

# Explore geohash neighbors

In [128]:
df2_geo = df2[['index','lat','long']]
df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)

df2_geo_uniq = df2_geo[['index','lat','long','geohash']].drop_duplicates()

df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))
df2_geo = df2_geo.explode('neighbors')

df2_geo.columns = [col+'2' for col in df2_geo.columns]

<ipython-input-128-3ac793a2ed75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)
<ipython-input-128-3ac793a2ed75>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))

In [129]:
df_geo_merge = pd.merge(df2_geo_uniq, df2_geo, left_on = 'geohash', right_on = 'neighbors2')
df_geo_merge['distance'] = df_geo_merge.apply(lambda x:calculate_distance(x['lat'],x['long'],x['lat2'],x['long2']), axis= 1)

df_geo_merge = df_geo_merge[df_geo_merge['distance'] < 1000]

In [130]:
df_geo_merge.head()

,index,lat,long,geohash,index2,lat2,long2,geohash2,neighbors2,distance
0,0,-6.167531,106.901752,qquhbt,5,-6.171399,106.898761,qquhbs,qquhbt,542.142839
3,0,-6.167531,106.901752,qquhbt,28,-6.171066,106.898276,qquhbs,qquhbt,549.367462
4,0,-6.167531,106.901752,qquhbt,30,-6.170421,106.899426,qquhbs,qquhbt,411.313918
5,0,-6.167531,106.901752,qquhbt,33,-6.161882,106.904170,qquhbw,qquhbt,682.225851
7,0,-6.167531,106.901752,qquhbt,44,-6.170592,106.909284,qquhbu,qquhbt,898.963975

In [131]:
df2_geo_uniq

      index       lat        long geohash
0         0 -6.167531  106.901752  qquhbt
1         1 -6.157341  106.907888  qquhbx
2         2 -6.152638  106.892576  qquhbr
3         3 -6.163588  106.903689  qquhbt
4         4 -6.157255  106.908430  qquhbz
...     ...       ...         ...     ...
7285   7300 -6.182180  106.842239  qqguz6
7286   7301 -6.188693  106.846740  qqguz3
7287   7302 -6.177425  106.841511  qqguz5
7288   7303 -6.189673  106.845534  qqguz3
7289   7304 -6.189117  106.846968  qqguz3

[7290 rows x 4 columns]

In [133]:
calculate_distance(-6.167531, 106.901752,-6.171399,106.898761)

542.1741839700793