In [8]:
import pandas as pd 
import re 
from geolib import geohash
from haversine import haversine, Unit
from math import radians, cos, sin, asin, sqrt
import numpy as np

In [9]:
df = pd.read_csv('2_jak_rest_detail.csv')
df = df.reset_index()
df.shape

(7305, 9)

In [10]:
df.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257

In [11]:
def clean_long_lat(str_input):
    try :
        result = str_input.split('=')[-1] 
        result = result.replace(']','')
        result = result.replace('[','')   
        result = result.replace("'","")   
        return result 
    except : 
        return 'error'

def extract_lat(str_input):
    try : 
        return float(str_input.split(',')[0])
    except:
        return 0 


def extract_long(str_input):
    try : 
        return float(str_input.split(',')[1])
    except:
        return 0 

def geohash_neighbors(str_geohash):
    return 

def calculate_distance(lat1, lon1, lat2, lon2 ):
    # haversine formula 


    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c * 1000 # in meter 
    return km

def extract_price(price):
    try : 
        return ''.join(re.findall(r'\d+',price))
    except : 
        return 'error'
    
def normalize_rating(rating):
    try:
        return float(rating)
    except :
        return 'error'

def normalize_review(rating):
    try:
        return int(rating)
    except :
        return 'error'

# Extract Long and Lat 
extract lat and long from url 
adding geohash

In [12]:
# separate lat long from url 
df['rest_longlat2'] = df['rest_longlat'].apply(clean_long_lat)

df['lat'] = df['rest_longlat2'].apply(extract_lat)
df['long'] = df['rest_longlat2'].apply(extract_long)

# remove non longlat 
# df2 = df[df['rest_longlat']!='[]']

In [13]:
# df[df['rest_longlat2']=='error']
df2.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review,rest_longlat2,lat,long
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56,"-6.1675310000,106.9017520000",-6.167531,106.901752
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61,"-6.1573410000,106.9078880000",-6.157341,106.907888
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363,"-6.1526380000,106.8925760000",-6.152638,106.892576
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113,"-6.1635880000,106.9036890000",-6.163588,106.903689
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257,"-6.1572550000,106.9084300000",-6.157255,106.908430

In [14]:
df2['url'].value_counts()

https://www.zomato.com/jakarta/santa-88-cake-bakery-restaurant-senopati/info    2
https://www.zomato.com/jakarta/the-gade-coffee-gold-menteng/info                2
https://www.zomato.com/jakarta/visi-coffee-kitchen-manggarai/info               2
https://www.zomato.com/jakarta/wee-nam-kee-kitchen-rice-thamrin/info            2
https://www.zomato.com/SignaturesRestaurant/info                                2
                                                                               ..
https://www.zomato.com/jakarta/man-aur-tan-manhattan-hotel-kuningan/info        1
https://www.zomato.com/jakarta/soiree-bar-and-lounge-senopati/info              1
https://www.zomato.com/jakarta/tea-time-cafe-kuningan/info                      1
https://www.zomato.com/jakarta/dennys-senayan/info                              1
https://www.zomato.com/jakarta/rice-bowl-1-scbd/info                            1
Name: url, Length: 7262, dtype: int64

In [15]:
df2.iloc[0]['rating']

'3.8'

# Get Price

In [16]:
df2['rest_price_idr'] =  df2['rest_price'].apply(lambda x:extract_price(x))

<ipython-input-16-b040028e8c9d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['rest_price_idr'] =  df2['rest_price'].apply(lambda x:extract_price(x))

# Get Rating

In [17]:
df2['rating'] = df2['rating'].apply(normalize_rating)

<ipython-input-17-b05a19aaf55e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['rating'] = df2['rating'].apply(normalize_rating)

In [18]:
df2['review'] = df2['review'].apply(normalize_review)

<ipython-input-18-7d07926f49ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['review'] = df2['review'].apply(normalize_review)

# Preprocessing restaurant features
facility and restaurant type

In [26]:
# df2['rest_facility'].apply(lambda x:x.split('|'))
tes_facility = df2['rest_facility'].apply(lambda x:x.split('|')).explode()
tes_rest_type = df2['rest_type'].apply(lambda x:x.split('|')).explode()

print('total unique facility {}'.format(tes_facility.value_counts().shape))
print('total unique restaurant type {}'.format(tes_rest_type.value_counts().shape))

total unique facility (54,)
total unique restaurant type (86,)

In [27]:
def cat_encoding(df ,idx_col, cat_col):
    df_cat = df2[[idx_col,cat_col]]
    df_cat = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1).explode().reset_index()
    df_cat.columns = [idx_col,'category']
    df_cat['category'] = df_cat['category'].str.lower()
    df_cat['flag'] = 1
    df_cat = df_cat.pivot_table(index=idx_col, columns='category', values='flag').reset_index().fillna(0)
    cat_col = df_cat.columns[1:]
    df_cat[cat_col] = df_cat[cat_col].astype('int')
    df_cat[cat_col] = df_cat[cat_col].astype(str)
    df_cat['encode'] = df_cat[cat_col].apply(''.join, axis=1)

    return df_cat

In [51]:
# facility 
df_res_fac = cat_encoding(df2, 'index','rest_facility')
df_res_fac_code = df_res_fac['encode'].value_counts().reset_index()
df_res_fac_code.columns = ['encode','total']
df_res_fac_code['rank'] = np.arange(df_res_fac_code.shape[0])
df_res_fac_code['new_code'] = pd.cut(df_res_fac_code['total'], 5,labels=list(range(5)), ordered=True)
df_res_fac_encode = pd.merge(df_res_fac[['index','encode']],df_res_fac_code[['encode','new_code','rank']])

df_res_fac_encode.to_csv('2_res_fac.csv',index=False)

# type  
df_res_type = cat_encoding(df2, 'index','rest_type')
df_res_type_code = df_res_type['encode'].value_counts().reset_index()
df_res_type_code.columns = ['encode','total']
df_res_type_code['rank'] = np.arange(df_res_type_code.shape[0])
df_res_type_code['new_code'] = pd.cut(df_res_type_code['total'], 5,labels=list(range(5)), ordered=True)
df_res_type_encode = pd.merge(df_res_type[['index','encode']],df_res_type_code[['encode','new_code','rank']])

df_res_type_encode.to_csv('2_res_type.csv',index=False)

In [81]:
df_res_fac_encode['rank'].value_counts()

0       1128
1        489
2        272
3        224
4        210
        ...
997        1
993        1
989        1
985        1
1651       1
Name: rank, Length: 1654, dtype: int64

# Finishing

In [75]:
df2_final = pd.DataFrame()
df2_final['index'] = df2['index']
df2_final['url'] = df2['url']
df2_final['rest_price_idr'] = df2['rest_price_idr']
df2_final['review'] = df2['review']
df2_final['lat'] = df2['lat']
df2_final['long'] = df2['long']
df2_final['rating'] = df2['rating']


df2_final = pd.merge(df2_final,df_res_type_encode[['index','new_code','rank']], left_on='index', right_on='index', how='left')
df2_final = df2_final.rename(columns = {'new_code':'new_code_res_type','rank':'rank_res_type'})

df2_final = pd.merge(df2_final,df_res_fac_encode[['index','new_code','rank']],left_on='index', right_on='index',how='left')
df2_final = df2_final.rename(columns = {'new_code':'new_code_fac','rank':'rank_fac'})

# remove error values 

df2_final = df2_final[ (df2_final['rest_price_idr'] != 'error') & (df2_final['rating']!= 'error') & (df2_final['review']!= 'error') ]

# casting to correct values 
df2_final['rest_price_idr'] = df2_final['rest_price_idr'].astype(float)
df2_final['review'] = df2_final['review'].astype(float)
df2_final['rating'] = df2_final['rating'].astype(float)

In [77]:
df2_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5803 entries, 0 to 7289
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5803 non-null   int64
 1   url                5803 non-null   object
 2   rest_price_idr     5803 non-null   float64
 3   review             5803 non-null   float64
 4   lat                5803 non-null   float64
 5   long               5803 non-null   float64
 6   rating             5803 non-null   float64
 7   new_code_res_type  5803 non-null   category
 8   rank_res_type      5803 non-null   int32
 9   new_code_fac       5803 non-null   category
 10  rank_fac           5803 non-null   int32
dtypes: category(2), float64(5), int32(2), int64(1), object(1)
memory usage: 419.8+ KB

In [79]:
df2_final.to_csv('3_clean_zomato_feat.csv',index=False)

# Explore geohash neighbors

In [22]:
df2_geo = df2[['index','lat','long']]
df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)

df2_geo_uniq = df2_geo[['index','lat','long','geohash']].drop_duplicates()

df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))
df2_geo = df2_geo.explode('neighbors')

df2_geo.columns = [col+'2' for col in df2_geo.columns]

<ipython-input-22-3ac793a2ed75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)
<ipython-input-22-3ac793a2ed75>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))

In [23]:
df_geo_merge = pd.merge(df2_geo_uniq, df2_geo, left_on = 'geohash', right_on = 'neighbors2')
df_geo_merge['distance'] = df_geo_merge.apply(lambda x:calculate_distance(x['lat'],x['long'],x['lat2'],x['long2']), axis= 1)

df_geo_merge = df_geo_merge[df_geo_merge['distance'] < 1000]

In [112]:
df_geo_merge.head()

,index,lat,long,geohash,index2,lat2,long2,geohash2,neighbors2,distance
0,0,-6.167531,106.901752,qquhbt,5,-6.171399,106.898761,qquhbs,qquhbt,542.142839
3,0,-6.167531,106.901752,qquhbt,28,-6.171066,106.898276,qquhbs,qquhbt,549.367462
4,0,-6.167531,106.901752,qquhbt,30,-6.170421,106.899426,qquhbs,qquhbt,411.313918
5,0,-6.167531,106.901752,qquhbt,33,-6.161882,106.904170,qquhbw,qquhbt,682.225851
7,0,-6.167531,106.901752,qquhbt,44,-6.170592,106.909284,qquhbu,qquhbt,898.963975

In [113]:
df2_geo_uniq

      index       lat        long geohash
0         0 -6.167531  106.901752  qquhbt
1         1 -6.157341  106.907888  qquhbx
2         2 -6.152638  106.892576  qquhbr
3         3 -6.163588  106.903689  qquhbt
4         4 -6.157255  106.908430  qquhbz
...     ...       ...         ...     ...
7300   7300 -6.182180  106.842239  qqguz6
7301   7301 -6.188693  106.846740  qqguz3
7302   7302 -6.177425  106.841511  qqguz5
7303   7303 -6.189673  106.845534  qqguz3
7304   7304 -6.189117  106.846968  qqguz3

[7290 rows x 4 columns]

In [105]:
calculate_distance(-6.167531, 106.901752,-6.171399,106.898761)

0.5421741839700793