In [34]:
import pandas as pd 
import re 
from geolib import geohash
from haversine import haversine, Unit

In [35]:
df = pd.read_csv('2_jak_rest_detail.csv')
df = df.reset_index()
df.shape

(7305, 9)

In [36]:
df.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257

In [37]:
def clean_long_lat(str_input):
    try :
        result = str_input.split('=')[-1] 
        result = result.replace(']','')
        result = result.replace('[','')   
        result = result.replace("'","")   
        return result 
    except : 
        return 'error'

def extract_lat(str_input):
    try : 
        return float(str_input.split(',')[0])
    except:
        return 0 


def extract_long(str_input):
    try : 
        return float(str_input.split(',')[1])
    except:
        return 0 

def geohash_neighbors(str_geohash):
    return

In [38]:
# separate lat long from url 
df['rest_longlat2'] = df['rest_longlat'].apply(clean_long_lat)

df['lat'] = df['rest_longlat2'].apply(extract_lat)
df['long'] = df['rest_longlat2'].apply(extract_long)

# remove non longlat 
df2 = df[df['rest_longlat']!='[]']

In [39]:
# df[df['rest_longlat2']=='error']
df2.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review,rest_longlat2,lat,long
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56,"-6.1675310000,106.9017520000",-6.167531,106.901752
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61,"-6.1573410000,106.9078880000",-6.157341,106.907888
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363,"-6.1526380000,106.8925760000",-6.152638,106.892576
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113,"-6.1635880000,106.9036890000",-6.163588,106.903689
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257,"-6.1572550000,106.9084300000",-6.157255,106.908430

In [40]:
df2.shape

(7290, 12)

In [41]:
# df2['rest_facility'].apply(lambda x:x.split('|'))
tes_facility = df2['rest_facility'].apply(lambda x:x.split('|')).explode()
tes_rest_type = df2['rest_type'].apply(lambda x:x.split('|')).explode()

In [42]:
tes_facility.value_counts()

Indoor Seating                   6970
Takeaway Available               6541
No Alcohol Available             5178
Wifi                             2889
Table booking recommended        2065
Home Delivery                    1672
Smoking Area                     1551
Breakfast                        1524
Outdoor Seating                  1360
Desserts and Bakes                954
Beer                              591
Private Dining Area Available     482
Praying Room                      432
Valet Parking Available           299
Full Bar Available                293
Table booking not available       250
Live Entertainment                221
Self Service                      189
Kid Friendly                      184
Wine and Beer                     166
Serves Cocktails                  159
Buffet                            153
Live Music                        112
Table reservation required        112
Brunch                            104
Vegetarian Friendly                93
Nightlife                          81
Free Parking                       76
BPOM Certified Kaki5               62
Group Meal                         51
Vegan Options                      47
Luxury Dining                      44
Rooftop                            39
Lunch Menu                         27
Shisha                             27
Wine                               22
BYOB                               19
Karaoke                            17
City View                          17
Board Games                        16
Corkage Fee Charged                15
Disabled Friendly                  14
Gluten Free Options                13
Serves Alcohol                      7
Dance Floor                         6
Craft Beer                          6
Entry Fee                           4
Sports Bar                          4
Pool Table                          4
Serves Halal                        3
Drive Thru                          2
Iftar                               1
LGBTQIA Friendly                    1
Gastro Pub                          1
Name: rest_facility, dtype: int64

In [43]:
tes_rest_type.value_counts()

Indonesian    1644
Coffee        1370
Japanese       718
Western        675
Desserts       658
              ...
Mongolian        2
British          2
Portuguese       1
Moroccan         1
Peruvian         1
Name: rest_type, Length: 86, dtype: int64

In [66]:
df2_geo = df2[['index','lat','long']]
df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)
df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))

df2_geo = df2_geo.explode('neighbors')

<ipython-input-66-94f5d4dbd6a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)
<ipython-input-66-94f5d4dbd6a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))

      index       lat        long geohash neighbors
0         0 -6.167531  106.901752  qquhbt    qquhbw
0         0 -6.167531  106.901752  qquhbt    qquhby
0         0 -6.167531  106.901752  qquhbt    qquhbv
0         0 -6.167531  106.901752  qquhbt    qquhbu
0         0 -6.167531  106.901752  qquhbt    qquhbs
...     ...       ...         ...     ...       ...
7304   7304 -6.189117  106.846968  qqguz3    qqguz8
7304   7304 -6.189117  106.846968  qqguz3    qqguz2
7304   7304 -6.189117  106.846968  qqguz3    qqguz0
7304   7304 -6.189117  106.846968  qqguz3    qqguz1
7304   7304 -6.189117  106.846968  qqguz3    qqguz4

[58320 rows x 5 columns]

0       qquhbw
0       qquhby
0       qquhbv
0       qquhbu
0       qquhbs
         ...
7304    qqguz8
7304    qqguz2
7304    qqguz0
7304    qqguz1
7304    qqguz4
Name: neighbor, Length: 58320, dtype: object