In [2]:
import pandas as pd 
import re 
from geolib import geohash
from haversine import haversine, Unit

In [3]:
df = pd.read_csv('2_jak_rest_detail.csv')
df = df.reset_index()
df.shape

(7305, 9)

In [4]:
df.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257

In [5]:
def clean_long_lat(str_input):
    try :
        result = str_input.split('=')[-1] 
        result = result.replace(']','')
        result = result.replace('[','')   
        result = result.replace("'","")   
        return result 
    except : 
        return 'error'

def extract_lat(str_input):
    try : 
        return float(str_input.split(',')[0])
    except:
        return 0 


def extract_long(str_input):
    try : 
        return float(str_input.split(',')[1])
    except:
        return 0 

def geohash_neighbors(str_geohash):
    return

# Coordinate preprocessing 
extract lat and long from url 
adding geohash

In [6]:
# separate lat long from url 
df['rest_longlat2'] = df['rest_longlat'].apply(clean_long_lat)

df['lat'] = df['rest_longlat2'].apply(extract_lat)
df['long'] = df['rest_longlat2'].apply(extract_long)

# remove non longlat 
df2 = df[df['rest_longlat']!='[]']

In [7]:
# df[df['rest_longlat2']=='error']
df2.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review,rest_longlat2,lat,long
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56,"-6.1675310000,106.9017520000",-6.167531,106.901752
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61,"-6.1573410000,106.9078880000",-6.157341,106.907888
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363,"-6.1526380000,106.8925760000",-6.152638,106.892576
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113,"-6.1635880000,106.9036890000",-6.163588,106.903689
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257,"-6.1572550000,106.9084300000",-6.157255,106.908430

In [8]:
df2['url'].value_counts()

https://www.zomato.com/jakarta/hard-rock-cafe-scbd/info                             2
https://www.zomato.com/jakarta/djakarta-cafe-thamrin/info                           2
https://www.zomato.com/jakarta/plataran-dharmawangsa-dharmawangsa/info              2
https://www.zomato.com/jakarta/romansa-menteng/info                                 2
https://www.zomato.com/jakarta/restoran-fiesta-sari-pacific-jakarta-thamrin/info    2
                                                                                   ..
https://www.zomato.com/jakarta/bakso-kemon-tebet/info                               1
https://www.zomato.com/jakarta/kopi-kenangan-1-cikini/info                          1
https://www.zomato.com/jakarta/rame-rame-2-dharmawangsa/info                        1
https://www.zomato.com/jakarta/chatime-fatmawati/info                               1
https://www.zomato.com/jakarta/tanama-kopi-pondok-indah/info                        1
Name: url, Length: 7262, dtype: int64

In [9]:
df2.iloc[0]['rating']

'3.8'

# Preprocessing restaurant features
facility and restaurant type

In [10]:
# df2['rest_facility'].apply(lambda x:x.split('|'))
tes_facility = df2['rest_facility'].apply(lambda x:x.split('|')).explode()
tes_rest_type = df2['rest_type'].apply(lambda x:x.split('|')).explode()

print('total unique facility {}'.format(tes_facility.value_counts().shape))
print('total unique restaurant type {}'.format(tes_rest_type.value_counts().shape))

total unique facility (54,)
total unique restaurant type (86,)

In [25]:
def cat_encoding(df ,idx_col, cat_col):
    df_cat = df2[[idx_col,cat_col]]
    df_cat = df_cat.apply(lambda x:x[cat_col].split('|'), axis =1).explode().reset_index()
    df_cat.columns = [idx_col,'category']
    df_cat['category'] = df_cat['category'].str.lower()
    df_cat['flag'] = 1
    df_cat = df_cat.pivot_table(index=idx_col, columns='category', values='flag').reset_index().fillna(0)
    cat_col = df_cat.columns[1:]
    df_cat[cat_col] = df_cat[cat_col].astype('int')
    df_cat[cat_col] = df_cat[cat_col].astype(str)
    df_cat['encode'] = df_cat[cat_col].apply(''.join, axis=1)

    return df_cat

In [27]:
# facility 
df_res_fac = cat_encoding(df2, 'index','rest_facility')

# type  
df_res_type = cat_encoding(df2, 'index','rest_type')

# df_res_type = df2[['index','rest_type']]
# df_res_type = df_res_type.apply(lambda x:x['rest_type'].split('|'), axis =1).explode().reset_index()
# df_res_type.columns = ['index','category']
# df_res_type['category'] = df_res_type['category'].str.lower()
# df_res_type['flag'] = 1
# df_res_type = df_res_type.pivot_table(index='index', columns='category', values='flag')
# cat_col = df_res_type.columns[1:]

In [28]:
df_res_type.head()

category,index,aceh,american,arabian,asian,australian,bakery,bakmi,bakso,balinese,...,sunda,sushi,taiwanese,tea,thai,turkish,vietnamese,western,yogyakarta,encode
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0000000000000000000000000000000000001000000000...
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0100000000000000000010100000000000000100000000...
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0000000000000000000100000000000000000000000000...
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0000000000000000000000000000000000000000000000...
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0000000000000000000100110000000000000000000000...

In [29]:
df_res_type['encode'].value_counts()

00000000000000000000000000000000000010000000000000000000000000000000000000000000000000    577
00000000000000000000000000000000000000100000000000000000000000000000000000000000000000    329
00000000000000000001000000000000000000000000000000000000000000000000000000000000000000    281
00000000000000100000100000000000000000000000000000000000000000000000000000000000000000    198
00000000000000000000100000000000000000000000000000000000000000000000000000000000000000    193
                                                                                         ...
00010000000000000000001001000000000000000000000000000000000000000000000000000000000000      1
00000000000000000011000000000000000000000000000000000000000000000000000000000000000000      1
00000000000000000001000100000000000000000000000000000000000000000000000000000000000010      1
00000000000000000000001001000000000010000000000000000000000000000000000000000000000000      1
00010100000000100000101000000000000000000000000000000000000000000000000000000000100010      1
Name: encode, Length: 818, dtype: int64

In [31]:
df_res_type[df_res_type['encode']=='00000000000000000000000000000000000010000000000000000000000000000000000000000000000000'].iloc[0]

category
index                                                         0
aceh                                                          0
american                                                      0
arabian                                                       0
asian                                                         0
                                    ...
turkish                                                       0
vietnamese                                                    0
western                                                       0
yogyakarta                                                    0
encode        0000000000000000000000000000000000001000000000...
Name: 0, Length: 88, dtype: object

# Explore geohash neighbors

In [12]:
df2_geo = df2[['index','lat','long']]
df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)
df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))

df2_geo = df2_geo.explode('neighbors')

<ipython-input-12-c28246fcb3f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['geohash'] = df2_geo.apply(lambda x:geohash.encode(x['lat'],x['long'],6),axis=1)
<ipython-input-12-c28246fcb3f4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_geo['neighbors'] = df2_geo['geohash'].apply(lambda x:list(geohash.neighbours(x)))

In [68]:
df2_geo.head()

   index       lat        long geohash neighbors
0      0 -6.167531  106.901752  qquhbt    qquhbw
0      0 -6.167531  106.901752  qquhbt    qquhby
0      0 -6.167531  106.901752  qquhbt    qquhbv
0      0 -6.167531  106.901752  qquhbt    qquhbu
0      0 -6.167531  106.901752  qquhbt    qquhbs