In [38]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [58]:
# MAE 
# zomato = [0.12398,	0.12298,	0.12642]
# zomato_1000 = [0.11915, 0.12145, 0.1255]
# zomato_500 = [0.12006,	0.12244,	0.12491]
# zomato_250 = [0.12001,	0.12278,	0.12174]


# MSE 
# zomato = [0.02546,	0.02467,	0.02615]
# zomato_1000 = [0.02324,	0.02404,	0.0258]
# zomato_500 = [0.02362,	0.02447,	0.02496]
# zomato_250 = [0.02357,	0.02432,	0.02602]

# pearson
zomato = [0.41264,	0.4076,	0.41256]
zomato_1000 = [0.47026,	0.43416,	0.4084]
zomato_500 = [0.45083,	0.41555,	0.4395]
zomato_250 = [0.45421,	0.42217,	0.42244]

In [59]:
f_oneway(zomato, zomato_1000, zomato_500, zomato_250)

F_onewayResult(statistic=1.112450703437946, pvalue=0.3993879224097109)

In [60]:
score_list = []
score_list.extend(zomato)
print(len(score_list))
score_list.extend(zomato_1000)
print(len(score_list))
score_list.extend(zomato_500)
print(len(score_list))
score_list.extend(zomato_250)
print(len(score_list))

3
6
9
12

In [61]:
df = pd.DataFrame(
    {'dataset' : ['zomato']*3 + ['zomato_1000']*3 + ['zomato_500']*3 + ['zomato_250']*3  ,
    'score' : score_list
    }
)

In [62]:
df

        dataset    score
0        zomato  0.41264
1        zomato  0.40760
2        zomato  0.41256
3   zomato_1000  0.47026
4   zomato_1000  0.43416
5   zomato_1000  0.40840
6    zomato_500  0.45083
7    zomato_500  0.41555
8    zomato_500  0.43950
9    zomato_250  0.45421
10   zomato_250  0.42217
11   zomato_250  0.42244

In [67]:
# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['dataset'],
                          alpha=0.1)

In [68]:
print(tukey)

     Multiple Comparison of Means - Tukey HSD, FWER=0.10
=============================================================
   group1      group2   meandiff p-adj   lower  upper  reject
-------------------------------------------------------------
     zomato zomato_1000   0.0267 0.4242 -0.0181 0.0715  False
     zomato  zomato_250    0.022 0.5663 -0.0228 0.0668  False
     zomato  zomato_500   0.0244 0.4935 -0.0204 0.0692  False
zomato_1000  zomato_250  -0.0047    0.9 -0.0495 0.0401  False
zomato_1000  zomato_500  -0.0023    0.9 -0.0471 0.0425  False
 zomato_250  zomato_500   0.0024    0.9 -0.0424 0.0472  False
-------------------------------------------------------------