In [1]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Manual Test

In [58]:
# MAE 
# zomato = [0.12398,	0.12298,	0.12642]
# zomato_1000 = [0.11915, 0.12145, 0.1255]
# zomato_500 = [0.12006,	0.12244,	0.12491]
# zomato_250 = [0.12001,	0.12278,	0.12174]


# MSE 
# zomato = [0.02546,	0.02467,	0.02615]
# zomato_1000 = [0.02324,	0.02404,	0.0258]
# zomato_500 = [0.02362,	0.02447,	0.02496]
# zomato_250 = [0.02357,	0.02432,	0.02602]

# pearson
zomato = [0.41264,	0.4076,	0.41256]
zomato_1000 = [0.47026,	0.43416,	0.4084]
zomato_500 = [0.45083,	0.41555,	0.4395]
zomato_250 = [0.45421,	0.42217,	0.42244]

In [59]:
f_oneway(zomato, zomato_1000, zomato_500, zomato_250)

F_onewayResult(statistic=1.112450703437946, pvalue=0.3993879224097109)

In [60]:
score_list = []
score_list.extend(zomato)
print(len(score_list))
score_list.extend(zomato_1000)
print(len(score_list))
score_list.extend(zomato_500)
print(len(score_list))
score_list.extend(zomato_250)
print(len(score_list))

3
6
9
12

In [61]:
df = pd.DataFrame(
    {'dataset' : ['zomato']*3 + ['zomato_1000']*3 + ['zomato_500']*3 + ['zomato_250']*3  ,
    'score' : score_list
    }
)

In [62]:
df

        dataset    score
0        zomato  0.41264
1        zomato  0.40760
2        zomato  0.41256
3   zomato_1000  0.47026
4   zomato_1000  0.43416
5   zomato_1000  0.40840
6    zomato_500  0.45083
7    zomato_500  0.41555
8    zomato_500  0.43950
9    zomato_250  0.45421
10   zomato_250  0.42217
11   zomato_250  0.42244

In [67]:
# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df['score'],
                          groups=df['dataset'],
                          alpha=0.1)

In [68]:
print(tukey)

     Multiple Comparison of Means - Tukey HSD, FWER=0.10
=============================================================
   group1      group2   meandiff p-adj   lower  upper  reject
-------------------------------------------------------------
     zomato zomato_1000   0.0267 0.4242 -0.0181 0.0715  False
     zomato  zomato_250    0.022 0.5663 -0.0228 0.0668  False
     zomato  zomato_500   0.0244 0.4935 -0.0204 0.0692  False
zomato_1000  zomato_250  -0.0047    0.9 -0.0495 0.0401  False
zomato_1000  zomato_500  -0.0023    0.9 -0.0471 0.0425  False
 zomato_250  zomato_500   0.0024    0.9 -0.0424 0.0472  False
-------------------------------------------------------------

# Cross validation Data

In [4]:
df = pd.read_excel('report/ml_perform_crossval_raw_2022-11-23.xlsx')

In [23]:
df_zomato = df[df['dataset']=='zomato_only']
df_zomato_poi_250 = df[df['dataset']=='zomato_poi_250']
df_zomato_poi_500 = df[df['dataset']=='zomato_poi_500']
df_zomato_poi_1000 = df[df['dataset']=='zomato_poi_1000']

df_zomato_mse = pd.concat([df_zomato[['test_neg_mean_squared_error','dataset']] , df_zomato_poi_250[['test_neg_mean_squared_error','dataset']]
                    , df_zomato_poi_500[['test_neg_mean_squared_error','dataset']] , df_zomato_poi_1000[['test_neg_mean_squared_error','dataset']]
])


df_zomato_mae = pd.concat([df_zomato[['test_neg_mean_absolute_error','dataset']] , df_zomato_poi_250[['test_neg_mean_absolute_error','dataset']]
                    , df_zomato_poi_500[['test_neg_mean_absolute_error','dataset']] , df_zomato_poi_1000[['test_neg_mean_absolute_error','dataset']]
])

df_zomato_pearson = pd.concat([df_zomato[['test_Pearson','dataset']] , df_zomato_poi_250[['test_Pearson','dataset']]
                    , df_zomato_poi_500[['test_Pearson','dataset']] , df_zomato_poi_1000[['test_Pearson','dataset']]
])

In [28]:
# df_zomato_pearson

## MAE

In [30]:
f_oneway(df_zomato['test_neg_mean_absolute_error'], df_zomato_poi_250['test_neg_mean_absolute_error'], df_zomato_poi_500['test_neg_mean_absolute_error'], df_zomato_poi_1000['test_neg_mean_absolute_error'])

F_onewayResult(statistic=6.087723842118115, pvalue=0.0011646179448619657)

In [22]:
# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df_zomato_mae['test_neg_mean_absolute_error'],
                          groups=df_zomato_mae['dataset'],
                          alpha=0.05)

print(tukey)

         Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================================
     group1          group2     meandiff p-adj   lower   upper  reject
----------------------------------------------------------------------
    zomato_only zomato_poi_1000   0.0159 0.0043   0.004  0.0278   True
    zomato_only  zomato_poi_250   0.0006    0.9 -0.0113  0.0125  False
    zomato_only  zomato_poi_500   0.0002    0.9 -0.0117  0.0121  False
zomato_poi_1000  zomato_poi_250  -0.0153 0.0064 -0.0272 -0.0034   True
zomato_poi_1000  zomato_poi_500  -0.0157 0.0049 -0.0276 -0.0038   True
 zomato_poi_250  zomato_poi_500  -0.0004    0.9 -0.0123  0.0115  False
----------------------------------------------------------------------

## MSE

In [31]:
f_oneway(df_zomato['test_neg_mean_squared_error'], df_zomato_poi_250['test_neg_mean_squared_error'], df_zomato_poi_500['test_neg_mean_squared_error'], df_zomato_poi_1000['test_neg_mean_squared_error'])

F_onewayResult(statistic=5.991473899795656, pvalue=0.0012920027354200957)

In [20]:
# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df_zomato_mse['test_neg_mean_squared_error'],
                          groups=df_zomato_mse['dataset'],
                          alpha=0.05)

print(tukey)

         Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================================
     group1          group2     meandiff p-adj   lower   upper  reject
----------------------------------------------------------------------
    zomato_only zomato_poi_1000    0.008 0.0064  0.0018  0.0142   True
    zomato_only  zomato_poi_250  -0.0001    0.9 -0.0063  0.0061  False
    zomato_only  zomato_poi_500  -0.0002    0.9 -0.0064   0.006  False
zomato_poi_1000  zomato_poi_250  -0.0081 0.0054 -0.0143 -0.0019   True
zomato_poi_1000  zomato_poi_500  -0.0082  0.005 -0.0144  -0.002   True
 zomato_poi_250  zomato_poi_500  -0.0001    0.9 -0.0063  0.0061  False
----------------------------------------------------------------------

# Pearson

In [32]:
f_oneway(df_zomato['test_Pearson'], df_zomato_poi_250['test_Pearson'], df_zomato_poi_500['test_Pearson'], df_zomato_poi_1000['test_Pearson'])

F_onewayResult(statistic=3.3815027242497386, pvalue=0.024364589099470767)

In [25]:
# perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df_zomato_pearson['test_Pearson'],
                          groups=df_zomato_pearson['dataset'],
                          alpha=0.05)

print(tukey)

         Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================================
     group1          group2     meandiff p-adj   lower  upper  reject
---------------------------------------------------------------------
    zomato_only zomato_poi_1000  -0.0469 0.0787 -0.0975 0.0037  False
    zomato_only  zomato_poi_250      0.0    0.9 -0.0506 0.0507  False
    zomato_only  zomato_poi_500    0.007    0.9 -0.0436 0.0576  False
zomato_poi_1000  zomato_poi_250    0.047 0.0783 -0.0037 0.0976  False
zomato_poi_1000  zomato_poi_500   0.0539 0.0325  0.0033 0.1046   True
 zomato_poi_250  zomato_poi_500    0.007    0.9 -0.0436 0.0576  False
---------------------------------------------------------------------