In [1]:
import pandas as pd

In [11]:
# combine jakarta and outer jakarta dataset 
df_bod = pd.read_csv('data/2_bodebek_restaurant_detail3.csv')
df_jak = pd.read_csv('data/2_jak_rest_detail.csv')

df_combine = pd.concat([df_jak,df_bod]).reset_index()

df_combine.to_csv('data/2_jbdtk_rest_detail.csv',index=False)

In [12]:
df_combine.head()

,index,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56
1,1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3,61
2,2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363
3,3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113
4,4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257

In [18]:
# compare raw data 

df1 = pd.read_pickle('../../dataset/restaurant_raw.pickle')
df2 = pd.read_pickle('../../dataset/restaurant_raw2.pickle')
df3 = pd.read_pickle('../../dataset/restaurant_raw3.pickle')

In [19]:
df1_exp = df1.explode('link')
df2_exp = df2.explode('link')
df3_exp = df3.explode('link')

In [23]:
df1_exp.shape, df2_exp.shape, df3_exp.shape

((7043, 3), (8545, 3), (6171, 3))

In [24]:
df_union = pd.concat([df1_exp,df2_exp,df3_exp]).drop_duplicates()

In [25]:
df_union.shape

(10560, 3)

In [26]:
df_union.columns = ['district','rest_url','count']

In [27]:
df_union.head()

,district,rest_url,count
0,https://www.zomato.com/jakarta/kelapa-gading-r...,https://www.zomato.com/jakarta/wakacao-1-kelap...,501
0,https://www.zomato.com/jakarta/kelapa-gading-r...,https://www.zomato.com/jakarta/the-coffee-bean...,501
0,https://www.zomato.com/jakarta/kelapa-gading-r...,https://www.zomato.com/jakarta/angke-kelapa-ga...,501
0,https://www.zomato.com/jakarta/kelapa-gading-r...,https://www.zomato.com/jakarta/ikan-nila-pak-u...,501
0,https://www.zomato.com/jakarta/kelapa-gading-r...,https://www.zomato.com/jakarta/hong-kong-sheng...,501

In [30]:
df_union.to_csv('jakarta_rest.csv',index=False)

In [39]:
tes_df = pd.read_csv('jakarta_restaurant_detail.csv')
tes_df2 = pd.read_csv('jakarta_restaurant_detail2.csv')
tes_df3 = pd.read_csv('jakarta_restaurant_detail3.csv')
tes_df_uni = pd.concat([tes_df,tes_df2,tes_df3]).drop_duplicates()

In [41]:
tes_df_uni.isnull().sum()

url               0
title             2
rest_type         2
rest_price       12
rest_facility    11
rest_longlat      0
rating            2
review            0
dtype: int64

In [40]:
tes_df.shape, tes_df2.shape, tes_df3.shape, tes_df_uni.shape

((3024, 8), (5223, 8), (5335, 8), (7305, 8))

In [33]:
tes_df.head()

,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,https://www.zomato.com/jakarta/wakacao-1-kelap...,Wakacao,Indonesian,Rp150.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.8,56
1,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Brunch|Wifi|...,['https://www.google.com/maps/dir/?api=1&desti...,3.0,61
2,https://www.zomato.com/jakarta/angke-kelapa-ga...,Angke Kelapa Gading,Chinese,Rp450.000 for two people (approx.),Indoor Seating|Wifi|Valet Parking Available|Pr...,['https://www.google.com/maps/dir/?api=1&desti...,4.5,363
3,https://www.zomato.com/jakarta/ikan-nila-pak-u...,Ikan Nila Pak Ugi,Seafood,Rp100.000 for two people (approx.),Home Delivery|Takeaway Available|Indoor Seatin...,['https://www.google.com/maps/dir/?api=1&desti...,3.9,113
4,https://www.zomato.com/jakarta/hong-kong-sheng...,Hong Kong Sheng Kee Dessert,Chinese|Dimsum|Desserts,Rp220.000 for two people (approx.),Takeaway Available|Table booking recommended|I...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,257

In [34]:
tes_df2.head()

,url,title,rest_type,rest_price,rest_facility,rest_longlat,rating,review
0,https://www.zomato.com/jakarta/mie-jowo-ireng-...,Mie Jowo Ireng Manis,Jawa,Rp70.000 for two people (approx.),Takeaway Available|Indoor Seating,['https://www.google.com/maps/dir/?api=1&desti...,-,0
1,https://www.zomato.com/jakarta/chopstix-gandar...,Chopstix,Peranakan|Chinese,Rp120.000 for two people (approx.),Takeaway Available|Indoor Seating|Table bookin...,['https://www.google.com/maps/dir/?api=1&desti...,2.9,90
2,https://www.zomato.com/jakarta/the-coffee-bean...,The Coffee Bean & Tea Leaf,Coffee|Tea|Desserts|American|Italian,Rp110.000 for two people (approx.),Takeaway Available|Indoor Seating|Wifi|No Alco...,['https://www.google.com/maps/dir/?api=1&desti...,2.8,26
3,https://www.zomato.com/jakarta/gaya-gelato-gan...,Gaya Gelato,Ice Cream|Desserts,Rp80.000 for two people (approx.),Takeaway Available|Indoor Seating|Desserts and...,['https://www.google.com/maps/dir/?api=1&desti...,4.1,98
4,https://www.zomato.com/jakarta/mamayu-kitchen-...,Mamayu Kitchen,Asian,Rp100.000 for two people (approx.),Takeaway Available|Indoor Seating|No Alcohol A...,['https://www.google.com/maps/dir/?api=1&desti...,3.5,27

In [42]:
tes_df_uni.to_csv('3_jak_rest_detail.csv',index=False)