In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/works/XL/data/google_poi.csv')

In [3]:
df.head()

,city,poi_type,name,lat_poi,long_poi,geohash_poi_8
0,Balikpapan,restaurant,RM PENDOPO 1 AYAM KAMPUNG Asli,-1.231275,116.878273,qxg0gxu5
1,Balikpapan,cafe,Salome Ningrat,-1.265887,116.847133,qxg0fct3
2,Depok,school,State Senior High School 10,-6.393549,106.732436,qqggsu04
3,Depok,store,GUARDIAN - Giant Sawangan,-6.401463,106.742004,qqggsfxh
4,Depok,store,Pegadaian,-6.407767,106.803429,qqggw3eb

In [4]:
df['city'].value_counts()

Bandung           59027
Yogyakarta        53268
Bogor             52458
Surabaya          47024
Jaktim            43203
                  ...
Sumenep            1495
Sibolga            1294
Bima               1291
Kotamobago         1200
Poliwalimandar     1039
Name: city, Length: 95, dtype: int64

In [13]:
df[df['city'].str.contains("Jak")]['city'].value_counts()

Jaktim    43203
Jaksel    32634
Jakbar    28259
Jakut     25496
Jakpus    15497
Name: city, dtype: int64

In [18]:
df_jak_res = df[(df['city'].str.contains("Jak")) & (df['poi_type'].str.contains("cafe|restaurant|meal_takeaway"))]

In [19]:
df_jak_res.head()

,city,poi_type,name,lat_poi,long_poi,geohash_poi_8
93,Jakbar,cafe,The Coffee Bean & Tea Leaf,-6.127406,106.713760,qqgvhkd9
101,Jaktim,cafe,Warsen Kuyy,-6.240120,106.950559,qquh98p0
348,Jaktim,restaurant,AYAM PENYET AA GHODAY,-6.193280,106.922564,qquhc0d9
370,Jaksel,restaurant,Anomali Coffee Kemang,-6.267305,106.815452,qqguqehd
371,Jaksel,cafe,suharnp,-6.304474,106.771656,qqgujsk9

In [20]:
df_jak_res['poi_type'].value_counts()

cafe             21263
restaurant       15384
meal_takeaway     4297
Name: poi_type, dtype: int64